1.Discuss string slicing and provide examples.
String slicing is a technique in Python that allows you to extract a portion of a string using a special syntax. It lets you access a substring by specifying a start index, an end index, and an optional step.
•  start: The index where the slice begins (inclusive).
•  end: The index where the slice ends (exclusive).
•  step: The step size, or how many characters to skip between each character (optional)

In [2]:
#example of string sclicing
text = "Hello, World!"
print(text[0:5] ) #Here we are sclicking form 1st index to 4.

Hello

In [4]:
#reverse methods 
text = "Hello, World!"
print(text[-5:] )

orld!

In [ ]:
2. Explain the key features of lists in Python.
•	A list is one of the most versatile and commonly used data structures in Python.
•	It is an ordered collection of elements that can be of any data type, such as integers, strings, or other lists.
•	Lists are mutable, which means you can change their contents after creation
•	You can access elements by their index, and you can perform various operations like adding, removing, or sorting elements.

3. Describe how to access, modify, and delete elements in a list with examples.
You can access elements in a list by using indexing. List indexing starts at 0 for the first element. You can also use negative indices, where -1 refers to the last element, -2 to the second-last,

In [6]:
#example of access elements in list
my_list = [ "apple", "banana", "orange", "papaya"]

In [7]:
my_list

['apple', 'banana', 'orange', 'papaya']

In [8]:
#to access>> papaya
print(my_list[-1])

papaya

In [11]:
#To modify banana in dates
my_list[1] = "dates"
print(my_list)

['apple', 'dates', 'orange', 'papaya']

In [12]:
#to delete orange 
#first method 
del my_list[-2]
print(my_list)

['apple', 'dates', 'papaya']

In [13]:
#to delete papaya
#2nd method 
my_list.remove("papaya")
print(my_list)

['apple', 'dates']

In [14]:
#3rd method>>>(lats element)
my_list.pop()
print(my_list)

['apple']

4. Compare and contrast tuples and lists with examples.
In Python, both tuples and lists are used to store collections of items, but they have important differences in terms of mutability, syntax, and usage. Below is a comparison of the two data types with examples to illustrate their characteristics.
1. Mutability
•	Lists are mutable, meaning their elements can be modified after creation. You can add, remove, or change elements in a list.
•	Tuples are immutable, meaning once they are created, their contents cannot be changed. You cannot add, remove, or modify elements in a tuple.

In [15]:
#list are mutable 
my_lists = [1, 2, 3, 4]
my_lists[0] = 100 
print(my_lists)

[100, 2, 3, 4]

In [17]:
#otherthan tuples are immutable 
my_tuple = (1, 2, 3)
my_tuple[0] = 100 #its throw an error

TypeError: 'tuple' object does not support item assignment

2. Syntax
Lists are created using square brackets [].

Tuples are created using parentheses (). A tuple with only one element requires a trailing comma , to distinguish it from a regular expression in parentheses.

In [18]:
#list 
my_lists = [1, 2, 3, 4]
type(my_lists)

list

In [20]:
#tuples
my_tuple = (1, 2, 3)
type(my_tuple)

tuple

5.	Describe the key features of sets and provide examples of their use.
A set is a fundamental concept in mathematics and a versatile data structure in computer science. It represents a collection of distinct elements that do not have any particular order.
•	Uniqueness of elements
•	Unordered
•	No Duplicate Element
•	Mathematical operations
•	No Slicing and Indexing

In [24]:
#use case
List1 = {1, 2, 3, "Brinjal", "Brinjal", "apple", "apple", "Brinjal"}
print(List1)

{1, 2, 3, 'Brinjal', 'apple'}

In [25]:
type(List1)

set

6. Discuss the use cases of tuples and sets in Python programming.
¸ Tuples
Tuples are similar to lists, but they are immutable.  Once you create a tuple, you cannot change its content. This immutability makes tuples useful for situations where you want to ensure that the data remains constant.  They are often used to represent collections of related values.

Sets
 Sets are unordered collections of unique elements. They are useful when you need to work with distinct items and perform set operations like union, intersection, and difference.£   Sets are mutable, so you can add and remove elements, but the elements t

In [26]:
#use case >>>To creat student parmanent info
def get_student_info():
    name = "Arun"
    age = 21
    grade = "A"
    return name, age, grade


student_info = get_student_info()

name, age, grade = student_info

print(f"Name: {name}, Age: {age}, Grade: {grade}")

Name: Arun, Age: 21, Grade: A

In [27]:
#use case of sets >>>>creating a shopping list
# Create an empty set for shopping items

shopping_list = set()

# Add items to the shopping list

shopping_list.add("apples")

shopping_list.add("bananas")

shopping_list.add("milk")

print(shopping_list)

{'bananas', 'apples', 'milk'}

7. Describe how to add, modify, and delete items in a dictionary with examples.

In [28]:
d = {"name":"Ajay", "email":"aj@gmail.com","contact": 1234, "name": "Bijay"}

In [29]:
type(d)

dict

In [30]:
print(d)

{'name': 'Bijay', 'email': 'aj@gmail.com', 'contact': 1234}

In [32]:
#to add item 
d["address"] = "banglore"
print(d)

{'name': 'Bijay', 'email': 'aj@gmail.com', 'contact': 1234, 'address': 'banglore'}

In [33]:
#to modify item 
d["name"] = "Anand"

In [34]:
print(d)

{'name': 'Anand', 'email': 'aj@gmail.com', 'contact': 1234, 'address': 'banglore'}

In [36]:
#to delete
#1st method 
del d["contact"]
print(d)

{'name': 'Anand', 'email': 'aj@gmail.com', 'address': 'banglore'}

In [40]:
d

{'name': 'Anand', 'address': 'banglore'}

In [41]:
#to delete 
#2nd method
d.pop("name")
print(d)

{'address': 'banglore'}

8. Discuss the importance of dictionary keys being immutable and provide examples.
•	Numbers
•	Strings
•	Tuples
•	frozenset

In [45]:
#numbers
my_dict ={1: "one"}
print(my_dict)

{1: 'one'}

In [48]:
#strings
my_dict2 ={"name" : "anand"}
print(my_dict2)

{'name': 'anand'}

In [50]:
#tuples
my_dict3 ={("apple", "banana"): "fruits"}
print(my_dict3)

{('apple', 'banana'): 'fruits'}

In [51]:
#Frozensets
my_dict4 = {frozenset([1, 2, 3]): 'frozen set'}
print(my_dict4)

{frozenset({1, 2, 3}): 'frozen set'}

THANK YOU 

          END OF ASSIGNMENT